    body
    {
     margin: 0;
     font-family: sans-serif;
    }
    form
  	{
     text-align: center;
     color:white;
    }
    .side_reg
    {
      background-color: #151922;
      color:White;
      height:626px;
      width:50%;
      display:inline-block;
    }
   
    div.background_image
    {
      background-color: aqua;
      position:fixed;
      background:url(images/background.jpg);
      height:100%;
      width:50%;
      background-size:cover;
      display:inline-block;
    }
    .Login
    {
      width: 350px;
      height:420px;
      background-color: white;
      text-align: centre;
      margin-top: 15% ;
      margin-left: 24%;
      padding: 10px;
      border: 3px outset white;
      border-radius: 5px;
      overflow:auto;
    }   
    .color
    {
      background-color:black;
    }   
    .signin
    {
       font-size:18px;
       margin-top: 20px;
       background-color:#0067b8;
       color:white;
       padding:10px 130px;
       border-radius: 50px;
       cursor: pointer; 
       
    } 
    .register
    {
       margin-left:20%;
       margin-top: 5%;
       font-size: 20px;
       background-color:#0067b8;
       color:white;
       padding:15px 120px;
       border-radius: 20px;
       cursor: pointer; 
       
    } 
    .signin:hover
    {
      background-color: #54a0d8; 
    }
    .register:hover
    {
      background-color: #54a0d8; 
    }
    .avatar
    {
       width:150px;
       height:150px;
       position:absolute;
       margin-top: -90px;
       margin-left:105px;
    }
    .mail
    { 
        width:90%;
        padding:10px;
        border-radius:4px;
        margin-top:1px;
    }
    h1
    {
      font-size:50px;
    }
    .text1
    {
        font-size:18px;
        text-decoration: none;
    }
    .text2
    {
       text-decoration: none;
    }
    .text3
    {
      font-size:25px;
      color:#8a8a8a;
    }
    .copyright
    {
      margin-top:2.5%;
      text-align:right;
      font-size:15px;
      color:#4f4f4f;
    }
    .div-signin
    {
      margin-top: 40px;
      padding:1px;
    }
    p
    {
     margin-top:-10px;
     padding: 0px;
     text-align: left;
     margin-left: 10px;
    }
    a{
      color:white;
    }

    